/* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------- Imports
/* ------------------------------------------------------------------------- */
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Point
@import '~@bodhi-project/components/lib/point/compile.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Type
@import '~@bodhi-project/components/lib/type/reset.less';
@import '~@bodhi-project/components/lib/type/define.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Colors
@import '~@bodhi-project/components/lib/color/open-color/all.less';
@import '~@bodhi-project/components/lib/color/reset.less';
@import '~@bodhi-project/components/lib/color/form.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Locals
@import './variables.less';
@import './type.less';
@import './visibility-toggles.less';
@import './features/boxed.less';
@import './features/cover.less';
@import './features/table.less';
@import './features/tabs.less';
@import './features/timeline.less';
@import './features/two-col.less';

/* ------------------------------------------------------------------------- */
/* --------------------------------------------------------------- Component
/* ------------------------------------------------------------------------- */
.defineType(@fontFamily, @lineHeight);

.spaced {
  @media (max-width: 1279px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------------------------------------- Fixtures
/* ------------------------------------------------------------------------- */
html#copy.copy {
  & #layout.layout {
    &.faqs {
      & .wtf-collapse {
        max-width: 42rem;
      }

      & .wtf-collapse-header {
        display: flex;
        align-items: center;
        padding: 0.38rem 0.62rem 0.38rem 1.72rem;
        border: 2px solid transparent;
        transition: all 600ms ease;
        // border-radius: 0.5rem;

        & .anticon-right {
          width: 0.75rem;
          height: 100%;
          padding: unset;
          display: flex;
          align-items: center;
          padding-bottom: 0.3725rem;

          & svg {
            height: 0.75rem;
            width: 0.75rem;
          }
        }

        & h3 {
          flex: 1;
        }
      }

      & .wtf-collapse-content {
        & .wtf-collapse-content-box {
          padding: 0.38rem 1.72rem;

          & p,
          ul {
            &:last-child {
              margin-bottom: 0px !important;
            }
          }
        }
      }

      & .wtf-collapse-item {
        margin-bottom: 0.62rem;
      }

      & .wtf-collapse-item-active {
        & .wtf-collapse-header {
          background: var(--yellow-2);
          border: 2px solid var(--gray-9);
        }
      }
    }

    & .responsive-padding {
      padding: 1.1rem 2.2rem;
    }

    &.is-extra-large-desktop {
    }

    &.is-large-desktop {
    }

    &.is-desktop {
    }

    &.is-tablet {
      & .responsive-padding {
        padding: 0.55rem 1.1rem;
      }

      & .resonsive-flex {
        display: block !important;

        & > div {
          width: 100% !important;
          padding-bottom: 1rem;
          padding-left: unset !important;
        }
      }
    }

    &.is-mobile {
      & .responsive-padding {
        padding: 0.55rem 1.1rem;
      }

      & .resonsive-flex {
        display: block !important;

        & > div {
          width: 100% !important;
          padding-bottom: 1rem;
          padding-left: unset !important;
        }
      }
    }

    &.is-as-high-as-my-imac {
    }

    &.is-two-thirds-as-high-as-my-imac {
    }

    &.is-half-as-high-as-my-imac {
    }

    &.is-one-third-as-high-as-my-imac {
    }

    &.is-fourth-as-high-as-my-imac {
    }

    &.is-very-short-when-compared-to-my-imac {
    }
  }
}
