/* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------- Imports
/* ------------------------------------------------------------------------- */
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Point
@import '~@bodhi-project/components/lib/point/compile.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Type
@import '~@bodhi-project/components/lib/type/reset.less';
@import '~@bodhi-project/components/lib/type/define.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Colors
@import '~@bodhi-project/components/lib/color/open-color/all.less';
@import '~@bodhi-project/components/lib/color/reset.less';
@import '~@bodhi-project/components/lib/color/form.less';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Locals
@import './container.less';
@import './variables.less';
@import './type.less';
@import './visibility-toggles.less';

/* ------------------------------------------------------------------------- */
/* --------------------------------------------------------------- Component
/* ------------------------------------------------------------------------- */
.defineType(@fontFamily, @lineHeight);

#copy {
  font-family: @fontFamily;

  a.disabled {
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    cursor: not-allowed;
  }

  p,
  li {
    max-width: 55rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #00128b;
  }

  /* ----------------------------------------------------------------------- */
  /* --------------------------------------------------------- AntD rewrites
  /* ----------------------------------------------------------------------- */
  .ant-tabs-bar {
    border-bottom: 1px solid transparent !important;
  }

  .ant-tabs-tab-active {
    & a {
      color: #00128b !important;
    }
  }

  .ant-tabs-ink-bar {
    background-color: #00128b !important;
  }

  .ant-tooltip-inner {
    background-color: #f8f8f8 !important;
    color: unset !important;
  }

  .ant-tooltip-placement-top .ant-tooltip-arrow::before,
  .ant-tooltip-placement-topLeft .ant-tooltip-arrow::before,
  .ant-tooltip-placement-topRight .ant-tooltip-arrow::before {
    background-color: #f8f8f8 !important;
  }

  .ant-tooltip {
    & p {
      margin-bottom: unset !important;

      & strong {
        font-weight: 700;
      }
    }
  }

  .slick-dots {
    opacity: 1 !important;

    & li {
      height: 24px !important;
      width: 24px !important;
      opacity: 1 !important;

      & button {
        border-radius: 50% !important;
        height: 24px !important;
        width: 24px !important;
        background-color: #00128b !important;
        opacity: 1 !important;
      }

      &.slick-active {
        & button {
          background-color: #ffd700 !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .ant-collapse-borderless {
    background-color: transparent !important;
  }

  .ant-collapse-item {
    border-bottom: 1px solid transparent !important;
  }

  .ant-collapse-content-box {
    padding-top: 0px !important;
    padding-left: 40px !important;

    & > div {
      border-bottom: 1px solid #00128b !important;
    }
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-timeline-item-content {
    top: -15px !important;
  }

  .fb-like {
  }

  /* ----------------------------------------------------------------------- */
  /* -----------------------------------------------------------------------
  /* ----------------------------------------------------------------------- */
  [data-uri='/'],
  [data-uri='/tusky'],
  [data-uri='/notes'],
  [data-uri='/jasan'] {
    & .feature {
      border: 2px solid #00128b;
      border-radius: 8px;
      position: relative;

      @media (max-width: 991px) {
        border-color: rgba(0, 18, 139, 0.4);
      }

      & .gatsby-image-wrapper {
        position: relative;
        z-index: -1;
        transition: all 400ms ease-in;

        @media (max-width: 991px) {
          opacity: 0.3;
        }
      }

      & .intro {
        position: absolute;
        top: 4px;
        left: 30px;

        @media (max-width: 991px) {
          left: 10px;
        }

        & h1 {
          color: #00128b;
          line-height: 1 !important;
          margin-bottom: 18px;

          & span {
            font-size: 125%;

            @media (max-width: 991px) {
              font-size: 105%;
            }
          }
        }

        & p {
          color: #00128b;
          line-height: 1.1 !important;
        }
      }
    }

    & p.support {
      width: 55%;

      @media (max-width: 991px) {
        width: 90%;
      }
    }
  }

  [data-uri='/tusky'],
  [data-uri='/jasan'] {
    & .feature {
      .tip {
        position: absolute;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        z-index: 100;
        background-color: #00128b;
        transition: all 400ms ease-in;

        &:hover {
          background-color: #ffd700;
        }

        &.tip1 {
          top: 23%;
          right: 9%;
        }

        &.tip2 {
          top: 55%;
          left: 29%;
        }

        &.tip3 {
          top: 22%;
          left: 37%;
        }

        &.tip4 {
          top: 28%;
          left: 22%;
        }

        &.tip5 {
          top: 60%;
          left: 55%;
        }
      }
    }

    & .ant-tabs-tabpane {
      & > .ant-tabs {
        & .ant-tabs-right-content {
          border: unset !important;
        }

        & .ant-tabs-bar {
          border: unset !important;
        }

        & .ant-tabs-bar {
          @media (min-width: 991px) {
            width: 25% !important;
          }

          & .ant-tabs-tab {
            text-align: left !important;
            padding-left: 36px !important;

            & a {
              line-height: 1.1 !important;
              display: block;
              text-align: left !important;

              & span {
                word-break: break-all;
              }
            }
          }
        }

        & .ant-tabs-ink-bar {
          height: 24px !important;
          width: 24px !important;
          border-radius: 50% !important;
          left: 2px !important;
          top: 18px !important;
        }
      }
    }
  }

  .video {
    border: unset !important;
  }
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
