&#layout {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  @media (max-width: 991px) {
    padding-left: 12px;
    padding-right: 12px;
  }

  .not-active {
    pointer-events: none !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
    color: #808080 !important;
    pointer-events: all !important;
  }

  & .mobile-only {
    @media (min-width: 768px) {
      display: none !important;
    }
  }

  & .tablet-only {
    @media (max-width: 767px) {
      display: none !important;
    }
  }

  & .desktop-only {
    @media (max-width: 991px) {
      display: none !important;
    }
  }

  & .header.split {
    & a.left {
      left: -90px !important;
    }

    & .navs {
      & a.mask-p {
        margin-bottom: 0px !important;
      }

      @media (min-width: 992px) {
        display: flex;

        & .header-navigation.standard {
          flex-grow: 1;
          flex-shrink: 0;
          display: flex;
          align-items: center;

          & .desktop {
            width: 450px;
            max-width: 450px;
            overflow: hidden;
          }

          &:nth-child(3) {
            justify-content: flex-end;

            & .button-menu {
              display: flex;
              justify-content: flex-end;
            }
          }
        }

        & a {
          flex-grow: 1;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
        }
      }

      & .header-navigation.standard {
        & .mobile {
          @media (max-width: 991px) {
            display: flex;
            justify-content: space-between;
          }

          & button {
            border-color: #00128b;
            display: flex;
            padding: unset;

            & svg {
              stroke: #00128b;
            }
          }
        }
      }
    }

    & a.center {
      @media (max-width: 991px) {
        display: none !important;
      }
    }

    & .header-navigation {
      & .button-menu {
        & button {
          border: unset !important;
          box-shadow: unset !important;

          &:hover {
            border: unset !important;
            box-shadow: unset !important;
          }

          & a {
            color: #000 !important;

            &:hover {
              color: #00128b !important;
            }
          }
        }
      }

      &:nth-child(1) {
        & .button-menu {
          & button {
            &:nth-child(1) {
              padding-left: unset !important;
            }

            &.is-active {
              & a {
                color: #00128b !important;

                & span {
                  font-weight: 700;
                  font-size: 140%;
                  // text-transform: uppercase;
                }
              }
            }

            &.is-inactive {
              & a {
                & span {
                  font-weight: 700;
                  font-size: 100%;
                  // text-transform: uppercase;
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        & .button-menu {
          & button {
            &:nth-child(3) {
              padding-right: unset !important;
            }
          }
        }
      }
    }
  }

  & main {
    flex-grow: 1;
    flex-shrink: 0;
  }

  & footer {
    & .minimal-footer {
      padding: unset !important;

      & .post-note {
        border-top: 2px solid #00128b !important;
        padding-top: 0.5rem !important;
        margin-top: 0rem !important;
        margin-bottom: 0.5rem !important;
      }

      & .message {
        font-size: 16px !important;
        line-height: 1 !important;
        margin: auto;
      }
    }
  }

  & footer,
  main {
    & a:not(.ignore):not(.not-active) {
      color: #000;

      &:hover {
        color: #00128b;
      }
    }
  }
}

.header-navigation-drop.is-more {
  & ul {
    margin-bottom: unset !important;

    & a {
      color: #000 !important;

      &:hover {
        color: #00128b !important;
      }
    }
  }
}

#copy {
  & .header-navigation-mobile-layer-box {
    display: flex;
    flex-direction: row !important;

    & > div {
      flex-grow: 60px;
      flex-basis: 0;

      & button {
        border-color: #00128b;
        display: flex;
        padding: unset;

        & svg {
          stroke: #00128b;
        }
      }
    }
  }
}
